{% extends "base.html" %}

{% block header %}
<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse text-light bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">BitChat</a>
</nav>
{% endblock %}

{% block style %}
.container, .row.justify-content-center.align-items-center {
    height: 100%;
    min-height: 100%;
  }
{% endblock %}