{% extends "base.html" %}

{% block title %}
    <title>Join Room| Bit Chat</title>
{% endblock %}

{% block style %}
.container, .row.justify-content-center.align-items-center {
    height: 100%;
    min-height: 100%;
  }
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-8 col-sm-10">
                <input id="room-name-input" type="text" size="100" class="form-control" placeholder="Chat room name">
            </div>
            <div class="col">
                <input class="btn btn-primary" id="room-name-submit" type="button" value="Enter"/>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#room-name-submit').click();
        }
    };

    document.querySelector('#room-name-submit').onclick = function(e) {
        var roomName = document.querySelector('#room-name-input').value;
        window.location.pathname = '/chat/' + roomName;
    };
    </script>
{% endblock %}

</html>