{% load i18n %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head> 

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <title>{% block title %}BitChat{% endblock %}</title>
</head>

<body>
    <div id="header">
    {% block header %}
        <!--NavBar goes here-->
    {% endblock %}
    </div>

    <div id="content">
    {% block content %}{

    {% endblock %}
    </div>

    <div id="footer">
    {% block footer %}
        <hr />
    {% endblock %}
    </div>
</body>

{% block script %}

{% endblock %}

</html>
